{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>sample project</title>
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<script type="text/javascript" src='{% static "js/script.js"%}'></script>
	<!-- <script type="text/javascript">
		prompt("this is static")
	</script> -->
	<!-- <style >
		h2{
			color:blue;
		}
	</style> -->
 </head>
<body>
<h1 style="color:red">Good Night</h1>
 <h3>my name is bad</h3>
 <marquee class="ro"> this bro</marquee>
 <img src="{% static 'images/viratanushka.jpg'%}">


</body>
</html>